.h-index-param {
	padding-bottom: 100rpx;
	.pcb-box {
		padding-left: 30rpx;
		border-bottom: 20rpx solid #f7f8fa;
		.pcb-input {
			position: relative;
			border-bottom: 1px solid #e7e7e7;
			padding-right: 30rpx;
			&:last-child {
				border-bottom: none;
			}
			&.h1 {
				height: 100rpx;
			}
			&.h2 {
				padding: 24rpx 0;
			}
			.label {
				width: 168rpx;
				line-height: 44rpx;
				color: #323233;
				font-size: 28rpx;
			}
			.wrap {
				width: calc(100% - 170rpx);
			}
			.input-type1 {
				height: 100%;
				.t1 {
					width: 246rpx;
					font-size: 28rpx;
					color: #323233;
					margin-right: 29rpx;
				}
				.inp {
					font-size: 28rpx;
				}
			}
			.input-type2 {
				height: 100%;
				.t1 {
					width: 142rpx;
					font-size: 28rpx;
					color: #323233;
					margin-right: 29rpx;
				}
				.t2 {
					white-space: nowrap;
					font-size: 28rpx;
					color: #999999;
				}
				.inp {
					font-size: 28rpx;
				}
			}
			.list {
				flex-wrap: wrap;
				.box {
					padding: 0 30rpx;
					height: 52rpx;
					background: #f2f2f2;
					border-radius: 28rpx;
					margin-right: 16rpx;
					white-space: nowrap;
					text-align: center;
					font-size: 24rpx;
					color: #323233;
					&:nth-of-type(4n){
						margin-right: 0;
					}
					&.curr {
						background: #e7f4ff;
						border: 2rpx solid #008aff;
						color: #008aff;
					}
				}
				&.mb {
					.box {
						&:nth-child(-n + 4) {
							margin-bottom: 26rpx;
						}
					}
				}
				&.mb2 {
					.box {
						&:nth-child(-n + 1) {
							margin-bottom: 26rpx;
						}
					}
				}
			}
		}
	}
	.pcb-boxs {
		.title-bar {
			height: 98rpx;
			border-bottom: 1px solid #e7e7e7;
			.t1 {
				font-size: 28rpx;
				color: #323233;
				font-weight: bold;
				padding-left: 30rpx;
			}
			.t2 {
				font-size: 28rpx;
				color: #008aff;
				padding-right: 30rpx;
			}
		}
		.text {
			margin-top: 24rpx;
			margin-left: 30rpx;
			.t1 {
				font-size: 28rpx;
				color: #323233;
				margin-bottom: 24rpx;
			}
			.t2 {
				font-size: 28rpx;
				color: #323233;
				margin-right: 22rpx;
			}
			.t3 {
				font-size: 28rpx;
				color: #666666;
				margin-right: 220rpx;
			}
			.t4 {
				font-size: 28rpx;
				color: #666666;
			}
		}
		.text-box {
			width: 702rpx;
			height: 228rpx;
			background: #f7f8fa;
			margin: 24rpx auto 0;
			padding-top: 24rpx;
			padding-left: 20rpx;
			.t1 {
				font-size: 28rpx;
				color: #323233;
				margin-bottom: 24rpx;
			}
			.t2 {
				margin-bottom: 24rpx;
				.t2a {
					font-size: 28rpx;
					color: #323233;
				}
				.t2b {
					font-size: 28rpx;
					color: #666666;
					margin-left: 22rpx;
				}
			}
		}
	}
	.bottom-text {
		padding-top: 20rpx;
		width: 660rpx;
		margin: 0 auto;
		font-size: 28rpx;
		color: #999999;
		line-height: 48rpx;
		text-align: center;
		text {
			color: #008aff;
		}
	}
	.btn-box {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #FFFFFF;
		z-index: 1;
		padding: 30rpx;
		.btn-1 {
			width: 334rpx;
			height: 88rpx;
			background: #5dd1ff;
			box-shadow: 0px 8rpx 16rpx 0px rgba(93, 209, 255, 0.2);
			border-radius: 44rpx;
			font-size: 32rpx;
			color: #fff;
		}
		.btn-2 {
			width: 334rpx;
			height: 88rpx;
			background: #008aff;
			box-shadow: 0px 8rpx 16rpx 0px rgba(0, 138, 255, 0.2);
			border-radius: 44rpx;
			font-size: 32rpx;
			color: #ffffff;
		}
	}
}


.layer-box {
	width: 640rpx;
	text-align: center;
	.txt {
		padding: 24rpx 28rpx 0 20rpx;
		text-align: left;
		text {
			color: #666;
			font-size: 24rpx;
			line-height: 40rpx;
			margin-bottom: 24rpx;
		}
	}
	.pic{
		width: 560rpx;
		margin: 40rpx auto 94rpx;
		.im{
			width: 560rpx;
			height: 228rpx;
		}
	}
	.txt-show{
		width: 576rpx;
		margin: 0 auto;
		text-align: center;
		.t1{
			font-size: 28rpx;
			color: #999999;
		}
		.t2{
			font-size: 28rpx;
			color: #008AFF;
		}
	}
	.close{
		margin-top: 30rpx;
		border-top: 1px solid #E5E5E5;
		height: 110rpx;
		font-size: 34rpx;
		color: #323233;
		font-weight: bold;
	}
}
