.user-order {
	min-height: 100%;
	background: #f7f8fa;
	.user-search {
		background-color: #ffffff;
		padding: 10rpx 20rpx 0 36rpx;
		.search {
			position: relative;
			.inp {
				padding-left: 34rpx;
				width: 612rpx;
				height: 63rpx;
				background: #f0f2f5;
				border-radius: 33rpx;
			}
			.iconfont {
				position: absolute;
				right: 22rpx;
				top: 12rpx;
				color: #b4b9bf;
				font-size: 36rpx;
			}
		}
		.btn {
			font-size: 28rpx;
			color: #008aff;
		}
	}
	.tab {
		height: 84rpx;
		background: #ffffff;
		border-bottom: 1px solid #eeeeee;
		.box {
			height: 84rpx;
			position: relative;
			font-size: 32rpx;
			color: #323233;
			&.curr {
				color: #008aff;
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 70rpx;
					height: 6rpx;
					margin: 0 auto;
					background: #008aff;
					border-radius: 3rpx;
					content: '';
				}
			}
		}
	}
	.list {
		padding-bottom: 100rpx;
		margin: 22rpx auto 0;
		.wrap {
			margin: 0 24rpx 20rpx 24rpx;
			.box {
				background: #ffffff;
				box-shadow: 0px 2rpx 12rpx 0px rgba(0, 0, 0, 0.05);
				border-radius: 8rpx;
				.top {
					height: 80rpx;
					padding: 0 24rpx;
					border-bottom: 1px solid #e7e7e7;
					.l {
						.t1 {
							font-size: 28rpx;
							color: #323233;
							font-weight: bold;
							white-space: nowrap;
						}
						.t2 {
							font-size: 24rpx;
							color: #999;
							margin-left: 3rpx;
							white-space: nowrap;
						}
						.t3 {
							font-size: 24rpx;
							color: #999;
							margin-left: 30rpx;
							white-space: nowrap;
						}
					}
					.r {
						.t1 {
							font-size: 24rpx;
							color: #008aff;
						}
						.t2 {
							font-size: 24rpx;
							color: #209f74;
						}
						.t3 {
							width: 156rpx;
							height: 54rpx;
							background: #ff6010;
							border-radius: 27rpx;
							font-size: 24rpx;
							color: #fff;
						}
						.t4 {
							color: #666;
							font-size: 24rpx;
							margin-left: 6rpx;
						}
						.icondetele {
							font-size: 43rpx;
							color: #666;
						}
						.link-btn {
							width: 156rpx;
							height: 54rpx;
							background: #008aff;
							border-radius: 27rpx;
							font-size: 24rpx;
							color: #ffffff;
						}
					}
				}
				.li {
					padding: 30rpx 24rpx 30rpx 0;
					margin-left: 24rpx;
					border-bottom: 1px solid #e7e7e7;
					align-items: flex-start;
					&:last-child {
						box-shadow: none;
					}
					.li-l {
						.a {
							.t1 {
								font-size: 24rpx;
								color: #999999;
							}
							.t2 {
								font-size: 24rpx;
								color: #666666;
								margin-left: 30rpx;
								text-decoration: underline;
							}
						}
						.b {
							margin-top: 24rpx;
							width: 422rpx;
							font-size: 28rpx;
							color: #323233;
							line-height: 57rpx;
						}
						.c {
							.t1 {
								font-size: 24rpx;
								color: #ff6010;
								margin-right: 6rpx;
							}
							.t2 {
								font-size: 32rpx;
								color: #ff6010;
								font-weight: bold;
							}
							.t3 {
								font-size: 28rpx;
								color: #999999;
							}
						}
					}
					.li-r {
						justify-content: flex-end;
						align-items: flex-end;
						.a {
							font-size: 24rpx;
							color: #209f74;
						}
						.time {
							margin-top: 30rpx;
							image {
								width: 60rpx;
								height: 28rpx;
							}
						}
						.b {
							margin-top: 34rpx;
							.t1 {
								font-size: 24rpx;
								color: #ff6010;
								margin-right: 6rpx;
							}
							.t2 {
								font-size: 32rpx;
								color: #ff6010;
								font-weight: bold;
							}
							.t3 {
								font-size: 28rpx;
								color: #999999;
							}
						}
						.btn {
							margin-top: 24rpx;
							width: 128rpx;
							height: 46rpx;
							background: #008aff;
							border-radius: 27rpx;
							font-size: 22rpx;
							color: #ffffff;
						}
					}
				}
				.hide-text {
					height: 64rpx;
					padding: 0 24rpx;
					.y1 {
						font-size: 28rpx;
						color: #323233;
					}
					.y2 {
						.t1 {
							font-size: 24rpx;
							color: #ff6010;
							margin-right: 6rpx;
						}
						.t2 {
							font-size: 32rpx;
							color: #ff6010;
							font-weight: bold;
						}
						.t3 {
							font-size: 28rpx;
							color: #999999;
						}
					}
				}
				.bottom {
					height: 74rpx;
					.t1 {
						font-size: 24rpx;
						color: #323233;
					}
					.iconfont {
						font-size: 17rpx;
						color: #666;
						margin-left: 6rpx;
					}
				}
			}
		}
	}
}
