.logistics {
	min-height: 100%;
	background: #F7F8FA;
	.tab {
		height: 84rpx;
		background: #ffffff;
		margin-bottom: 24rpx;
		.box {
			position: relative;
			height: 100%;
			font-size: 32rpx;
			color: #323233;
			&.curr {
				color: #008aff;
				font-weight: 500;
				&::after{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					width: 70rpx;
					height: 6rpx;
					background: #008AFF;
					border-radius: 3rpx;
					margin: 0 auto;
					content: '';
				}
			}
		}
	}
	.top {
		width: 702rpx;
		height: 152rpx;
		background: linear-gradient(225deg, #00ceff 0%, #00abff 100%);
		box-shadow: 0px 2rpx 12rpx 0px rgba(0, 0, 0, 0.05);
		border-radius: 8rpx 8rpx 0px 0px;
		margin: 0 auto;
		padding: 0 24rpx;
		.t1 {
			font-size: 24rpx;
			color: #ffffff;
			margin-bottom: 24rpx;
		}
		.t2 {
			font-size: 24rpx;
			color: #ffffff;
		}
	}
	.kefu {
		width: 702rpx;
		height: 72rpx;
		margin: 0 auto;
		background: #ffffff;
		border-radius: 0px 0px 8rpx 8rpx;
		box-shadow: 0px 2rpx 12rpx 0px rgba(0, 0, 0, 0.05);
		.iconfont {
			font-size: 36rpx;
			color: #008aff;
		}
		.t1 {
			font-size: 24rpx;
			color: #323233;
			margin-left: 10rpx;
		}
	}
	.list {
		width: 702rpx;
		padding: 42rpx 0 40rpx 18rpx;
		background: #ffffff;
		box-shadow: 0px 2rpx 12rpx 0px rgba(0, 0, 0, 0.05);
		border-radius: 8rpx;
		margin: 24rpx auto 0;
		padding-left: 34rpx;
		.box {
			position: relative;
			border-left: 4rpx solid #e5e5e5;
			padding-bottom: 62rpx;
			padding-left: 28rpx;
			&:last-child {
				border-left: none;
			}
			.circle {
				position: absolute;
				top: 7rpx;
				left: -14rpx;
				width: 24rpx;
				height: 24rpx;
				background: url('http://img.ichunt.com/images/ichunt/minProgram/pcb/02d50abe82717a1f09ad0572fbb785c6.png') no-repeat center;
				background-size: cover;
			}
			.icontongyi {
				position: absolute;
				left: -19rpx;
				top: -4rpx;
				font-size: 37rpx;
				color: #008aff;
			}
			.t1 {
				font-size: 28rpx;
				color: #999999;
				line-height: 40rpx;
				margin-bottom: 16rpx;
				font-weight: bold;
			}
			.t2 {
				font-size: 24rpx;
				color: #999999;
			}
			&.curr {
				padding-bottom: 58rpx;
				.t1 {
					color: #323233;
					font-weight: bold;
				}
			}
		}
	}
}
