.cart {
	min-height: 100%;
	background: #f7f8fa;
	padding-bottom: 120rpx;
	.prompt {
		height: 76rpx;
		background: #fff9ed;
		padding-left: 28rpx;
		margin-bottom: 20rpx;
		.iconfont {
			font-size: 36rpx;
			margin-right: 14rpx;
			color: #ff6010;
		}
		.text {
			font-size: 24rpx;
			color: #ff6010;
		}
	}
	.list {
		margin: 20rpx 24rpx 0 24rpx;
		background: #ffffff;
		.boxs {
			border-bottom: 20rpx solid #f7f8fa;
			.title {
				height: 80rpx;
				background: #ffffff;
				border-bottom: 1px solid #e7e7e7;
				border-radius: 8rpx 8rpx 0px 0px;
				padding-left: 24rpx;
				font-weight: bold;
			}
			.data-box {
				width: 100%;
				padding-left: 24rpx;
				.box {
					width: 100%;
					padding: 40rpx 24rpx 40rpx 0;
					border-bottom: 1px solid #e7e7e7;
					&:last-child {
						border-bottom: none;
					}
					.left-bar {
						.iconfont {
							font-size: 31rpx;
							color: #008aff;
						}
						.default {
							width: 28rpx;
							height: 28rpx;
							border: 1px solid #cfcfcf;
							border-radius: 50%;
						}
						.text {
							margin-left: 8rpx;
							.tt {
								margin-bottom: 24rpx;
								.tt-a {
									font-size: 24rpx;
									color: #666666;
								}
								.tt-b {
									margin-left: 10rpx;
									font-size: 24rpx;
									color: #008aff;
								}
							}
							.t1 {
								font-size: 28rpx;
								color: #323233;
								line-height: 40rpx;
								margin-bottom: 24rpx;
							}
							.t2 {
								font-size: 28rpx;
								color: #323233;
								line-height: 40rpx;
								margin-bottom: 24rpx;
							}
							.t3{
								font-size: 28rpx;
								color: #323233;
							}
							.t4{
								font-size: 24rpx;
								color: #FF6010;
							}
							.t5{
								font-size: 32rpx;
								color: #FF6010;
								font-weight: bold;
							}
							.dis{
								color: #999;
							}
						}
					}
					.right-bar {
						width: 234rpx;
						justify-content: flex-end;
						align-items: flex-end;
						.t1 {
							font-size: 24rpx;
							color: #999999;
							margin-bottom: 24rpx;
							white-space: nowrap;
						}
						.t2 {
							font-size: 24rpx;
							color: #666666;
						}
						.t3 {
							font-size: 32rpx;
							color: #666666;
							font-weight: bold;
						}
						.time{
							white-space: nowrap;
							margin-bottom: 90rpx;
						}
						.disabled-text{
							text-align: right;
							.d-1{
								font-size: 20rpx;
								color: #999;
								margin-bottom: 30rpx;
							}
							.d-2{
								font-size: 24rpx;
								color: #999;
								margin-right: 6rpx;								
							}
							.d-3{
								font-size: 32rpx;
								color: #999;
								font-weight: bold;
							}
						}
						.txt{
							font-size: 24rpx;
							color: #FF6010;
							margin-left: 14rpx;
						}
						.re-text{
							font-size: 20rpx;
							color: #666;
							margin-bottom: 30rpx;
						}
						.btn {
							width: 156rpx;
							height: 54rpx;
							background: #ffffff;
							border-radius: 27rpx;
							border: 1px solid #008aff;
							font-size: 24rpx;
							color: #008aff;
							margin-bottom: 70rpx;
						}
						.btn-re{
							width: 156rpx;
							height: 54rpx;
							background: #ffffff;
							border-radius: 27rpx;
							border: 1px solid #008aff;
							font-size: 24rpx;
							color: #008aff;
							margin-bottom: 12rpx;
						}
					}
				}
				uni-swipe-action {
					uni-swipe-action-item {
						&:last-child {
							.box {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.total-box {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 112rpx;
		padding: 0 30rpx 0 30rpx;
		background: #FFFFFF;
		box-shadow: 0px 8rpx 16rpx 0px rgba(0, 138, 255, 0.1);
		.total {
			.iconfont{
				font-size: 31rpx;
				color: #008aff;
			}
			.t1{
				font-size: 24rpx;
				color: #999999;
				margin-left: 6rpx;
				margin-right: 26rpx;
			}
			.t2{
				font-size: 24rpx;
				color: #999;
				margin-right: 12rpx;
			}
			.t3{
				font-size: 24rpx;
				color: #FF6010;
				margin-right: 4rpx;
			}
			.t4{
				font-size: 36rpx;
				color: #FF6010;
				font-weight: bold;
			}
		}
		.next {
			width: 280rpx;
			height: 72rpx;
			background: #008aff;
			box-shadow: 0px 8rpx 16rpx 0px rgba(0, 138, 255, 0.2);
			border-radius: 44rpx;
			font-size: 28rpx;
			color: #ffffff;
		}
	}
}

.car-detail{
	margin-top: 16rpx;
	.box{
		padding: 0 30rpx;
		margin-bottom: 32rpx;
		&:last-child{
			margin-bottom: 0;
		}
		.t1{
			font-size: 28rpx;
			color: #323233;
		}
		.t2{
			font-size: 28rpx;
			color: #666666;
		}
	}
}
