@import './font.scss';

.layer-box {
	position: relative;
	min-width: 640rpx;
	background: #ffffff;
	box-shadow: 0px 2rpx 12rpx 0px rgba(0, 0, 0, 0.05);
	border-radius: 16rpx;
	padding-bottom: 16rpx;
}

.layer-title-box {
	height: 98rpx;
	font-size: 36rpx;
	color: #323233;
	font-weight: bold;
	border-bottom: 1px solid #e7e7e7;
}
.layer-btn {
	position: absolute;
	right: 30rpx;
	top: 40rpx;
	font-size: 24rpx;
	color: #008aff;
}

.no-data-box {
	text-align: center;
}
.no-data-box .bg {
	width: 180rpx;
	height: 155rpx;
	background: url('http://m.pcbhunt.com/images/find.png') no-repeat center;
	background-size: cover;
	margin: 0 auto;
}

.no-data-box .text {
	font-size: 32rpx;
	color: #666;
}
.link {
	width: 132rpx;
	height: 54rpx;
	border-radius: 27rpx;
	border: 2rpx solid #008aff;
	font-size: 24rpx;
	color: #008aff;
	margin: 30rpx auto 0;
}
